<DOCTORTYPE.html>

<html lang="es">



      <head>

       <meta charset="uft-8">
       <meta name="viewport" content="width=device-width, user-scable-no
       initial-scable-1.0, maximum-scable-1.0, minimum-scable-1.0,">
       <link rel="stylesheet" href="idex.css">
                                    
      <title>layout basica</title>
      
     
      </head>                                                                      
      <body>
       
       <div class="contenedor"></div>
         <header>
            <nav>
               <ul>
                 <li><a href="#">inicio</a></li>
                 <li><a href="#">acerca de</a></li>
                 <li><a href="#">productos</a></li>
                  <li><a href="#">contactos</a></li>
               </ul>


            </nav>
          </header> 

        <div class="main"></div>  
          <div class="imagen">
            <img src="img/bg.jpg" alt="">
          
          </div>
          <div class="posts"></div>
           <article>
               <h2>titulo de articulo</h2>

             <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

Expetenda tincidunt in sed, ex partem placerat sea, porro commodo ex eam. His putant aeterno interesset at. Usu ea mundi tincidunt, omnium virtute aliquando ius ex. Ea aperiri sententiae duo. Usu nullam dolorum quaestio ei, sit vidit facilisis ea. Per ne impedit iracundia neglegentur. Consetetur neglegentur eum ut, vis animal legimus inimicus id.
</p>
<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

Expetenda tincidunt in sed, ex partem placerat sea, porro commodo ex eam. His putant aeterno interesset at. Usu ea mundi tincidunt, omnium virtute aliquando ius ex. Ea aperiri sententiae duo. Usu nullam dolorum quaestio ei, sit vidit facilisis ea. Per ne impedit iracundia neglegentur. Consetetur neglegentur eum ut, vis animal legimus inimicus id.
</p>
                        
           </article>  

          </section>
          <aside>
          <div class="widget">
             <h3 class="titulo">articulos destacados</h3>
             <ul>
             <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></li>
              </ul>
              </div>
              <div class="widget">
                <h3 class="titulo">informacion</h3>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.


                <footer>
                 <p>luis hernandez 2019 todos los derechos reservados</p>
                </footer>
            

              </div>
          </aside>    
      </body>
</html>